<div>
  <nz-spin [nzSpinning]="_isSpinning" [nzTip]="'正在保存数据...'">
    <div class="customize-content">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="name" nz-form-item-required>用户组名</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-input formControlName="name" [nzId]="'name'"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('exist')">用户名已经存在!</div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="comment"></label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <nz-input formControlName="comment" [nzId]="'comment'"></nz-input>
          </div>
        </div>
      </form>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label for="name" nz-form-item-required>包含用户</label>
          </div>
          <div nz-col [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 250px;"  nzTags [nzPlaceHolder]="'请选择用户'" [(ngModel)]="selectedMultipleUsers" [nzNotFoundContent]="'无法找到'"
              nzShowSearch>
              <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-form-item nz-row [nzType]="'flex'" [nzJustify]="'center'" class="submit-btn-row">
          <div nz-col nz-form-control>
            <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid" (click)="_submitForm($event)">保存</button>
            <button nz-button (click)="returnParent($event)">返回</button>
          </div>
        </div>
    </div>

  </nz-spin>
</div>
    