<div class="widget-div">
  <div class="widget-header">
    <div class="widget-title">
       系统状态
    </div>
    <div class="widget-controls">
      <div class="area-control">
        <i class="anticon anticon-ellipsis" (click)="changeArea()"></i>
        <div *ngIf="click" class="widget-area-change">
          <div class="area-cell" (click)="changeToArea(1)"></div>
          <div class="area-cell" (click)="changeToArea(2)"></div>
          <div class="area-cell" (click)="changeToArea(3)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-content-container">
    <table class="table key-value">
      <tbody>
        <tr class="tr-row">
          <td class="td-col-1">引擎状态</td>
          <td class="td-col-2">停止</td>
        </tr>
        <tr>
          <td>CPU</td>
          <td>37%</td>
        </tr>
        <tr>
          <td>剩余磁盘</td>
          <td>689MB</td>
        </tr>
        <tr>
          <td>证书</td>
          <td>正常</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>