<div>
  <form nz-form [nzLayout]='inline'>
    <nz-collapseset [nzBordered]="false">
      <nz-collapse [nzTitle]="'配置'" [nzActive]="true" [ngStyle]="{'border-radius': '4px','border': '0px'}">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="3">
            <label>资产识别</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="6">
            <nz-switch name="enable" [(ngModel)]="enable">
              <span checked>启用</span>
              <span unchecked>停用</span>
            </nz-switch>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="3">
            <label>安全区</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="6">
            <nz-select name="ingress_zone" style="width:220px;" [nzSize]="'default'" [(ngModel)]="ingress_zone" [nzMode]="'multiple'" [nzPlaceHolder]="'请选择'" [nzDisabled]="!enable">
              <nz-option
                *ngFor="let option of ingress_zones"
                [nzLabel]="option.label"
                [nzValue]="option">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="3">
            <label>识别范围</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="6">
            <nz-select name="allow" style="width:220px;" [nzSize]="'default'" [(ngModel)]="allow" [nzMode]="'multiple'" [nzPlaceHolder]="'请选择'" [nzDisabled]="!enable">
              <nz-option
                *ngFor="let option of allows"
                [nzLabel]="option.label"
                [nzValue]="option">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="3">
            <label>排除范围</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="6">
            <nz-select name="exception" style="width:220px;" [nzSize]="'default'" [(ngModel)]="exception" [nzMode]="'multiple'" [nzPlaceHolder]="'请选择'" [nzDisabled]="!enable">
              <nz-input [nzType]="'search'" [nzPlaceHolder]="'input search text'" name="search" [(ngModel)]="_value"></nz-input>
              <nz-option
                *ngFor="let option of exceptions"
                [nzLabel]="option.label"
                [nzValue]="option">
              </nz-option>
            </nz-select>
            <nz-tooltip [nzTitle]="'修改识别范围后，已经识别的资产需要手动清理。'" [nzPlacement]="'right'" [nzTrigger]="'hover'">
              <button nz-button nz-tooltip [nzType]="'primary'" [nzSize]="'small'" [nzShape]="'circle'">
                <i class="anticon anticon-question"></i>
              </button>
            </nz-tooltip>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="3">
            <label>测试全界面</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="6">
            <div class="ant-select-selection ant-select-selection--multiple" (click)="showOptions()" style="width: 220px;">
              <div class="ant-select-selection__rendered">
                <div class="ant-select-selection__placeholder">请选择</div>
                <ul>
                  <li *ngFor="let item of selectedArr">{{ item.label }}</li>
                </ul>
                <span class="ant-select-arrow"></span>
              </div>
            </div>
          </div>
        </div>
      </nz-collapse>
    </nz-collapseset>
    <div class="submit-btn-row" nz-form-item nz-row [nzType]="'flex'" [nzJustify]="'center'">
      <div nz-col nz-form-control>
        <button nz-button [nzType]="'primary'">确定</button>
        <button nz-button (click)="cancle($event)">重置</button>
      </div>
    </div>
  </form>
  <div *ngIf="showWrap" [@selectPane] class="ant-modal-wrap">
    <div class="ant-modal">
      <div class="ant-modal-content">
        <button nz-button [nzType]="'primary'" (click)="closeOptions()">close</button>
        <nz-input [nzType]="'search'" [nzPlaceHolder]="'input search text'" [(ngModel)]="_value"></nz-input>
        <ul class="ant-select-dropdown-menu ant-select-dropdown-menu-vertical ant-select-dropdown-menu-root">
          <li class="ant-select-dropdown-menu-item" [class.ant-select-dropdown-menu-item-selected]=" option.check" *ngFor="let option of ingress_zones" (click)="optionCheck(option)">{{ option.label }}<i *ngIf="option.check" class="anticon anticon-check" style="float: right;"></i></li>
        </ul>
        <nz-option
            *ngFor="let option of "
            [nzLabel]="option.label"
            [nzValue]="option">
          </nz-option>
      </div>
    </div>
  </div>
</div>