<div>
  <nz-collapseset [nzBordered]="false">
    <nz-collapse [nzTitle]="'注册前请注意，确认ESPP连接成功'" [nzActive]="true" [ngStyle]="{'border-radius': '4px','border': '0px'}">
      
    </nz-collapse>
    <nz-collapse [nzTitle]="'请扫描以下二维码'" [nzActive]="true" [ngStyle]="{'border-radius': '4px','border': '0px'}">
    </nz-collapse>
    <nz-collapse [nzTitle]="'注意'" [nzActive]="true" [ngStyle]="{'border-radius': '4px','border': '0px'}">
      <div nz-row style="height: 30px;line-height: 30px;">
        <div nz-col [nzSpan]="'1'" style="text-align: center;">1.</div>
        <div nz-col [nzSpan]="'23'">二维码 有效期为一个小时，超过一个小时后请重新注册</div>
      </div>
      <div nz-row style="height: 30px;line-height: 30px;">
        <div nz-col [nzSpan]="'1'" style="text-align: center;">2.</div>
        <div nz-col [nzSpan]="'23'">如果您无法获取二维码，请使用人工注册，客服电话 400-818-6868</div>
      </div>
      <div nz-row style="height: 30px;line-height: 30px;">
        <div nz-col [nzSpan]="'1'" style="text-align: center;"></div>
        <div nz-col [nzSpan]="'23'">注册码: 424642312d313139332d363244382d334430417c357c313030</div>
      </div>
      <div nz-row style="height: 30px;line-height: 30px;">
        <div nz-col [nzSpan]="'1'" style="text-align: center;">3.</div>
        <div nz-col [nzSpan]="'23'">设备HASH值为：BFB1-1193-62D8-3D0A 设备序列号为：BFB1-1193-62D8-3D0A</div>
      </div>
    </nz-collapse>
  </nz-collapseset>
  
</div>