<nz-collapseset>
  <nz-collapse [nzTitle]="'基础状态'" [nzActive]="true"
               [nzDisabled]="false">
      <table width="100%">
        <tr>
          <td class="text_td">引擎状态:</td>
          <td class="input_td">正常</td>
          <td class="text_td">引擎版本:</td>
          <td class="input_td">6.0.3.19</td>
        </tr>
        <tr>
          <td class="text_td">CPU:</td>
          <td class="input_td"><nz-progress [ngModel]="30"></nz-progress></td>
          <td class="text_td">内存:</td>
          <td class="input_td"><nz-progress [ngModel]="50"></nz-progress></td>
        </tr>
        <tr>
          <td class="text_td">剩余磁盘:</td>
          <td class="input_td">371MB</td>
          <td class="text_td">会话数:</td>
          <td class="input_td">0</td>
        </tr>
        <tr>
          <td class="text_td">应用层防护:</td>
          <td class="input_td">开启</td>
          <td class="text_td">认证用户:</td>
          <td class="input_td">0</td>
        </tr>
        <tr>
          <td class="text_td">序列号:</td>
          <td colspan="3">13C4-1B30-D829-CE5D</td>
        </tr>
        <tr>
          <td class="text_td">设备名称:</td>
          <td class="input_td">NF</td>
          <td class="text_td">设备位置:</td>
          <td class="input_td">成都</td>
        </tr>
        <tr>
            <td class="text_td">证书:</td>
          <td class="input_td">正常</td>
          <td class="text_td">运行时间:</td>
          <td class="input_td">5 天 5:13</td>
        </tr>
        <tr>
          <td class="text_td">当前时间:</td>
          <td class="input_td" colspan="3">2017-10-13 15:21:50</td>
        </tr>                              
      </table>
  </nz-collapse>
  <nz-collapse [nzTitle]="'特性状态'" [nzActive]="true"
               [nzDisabled]="false">
      <table width="100%">
        <tr class="event">
          <td class="text_td">入侵事件</td>
          <td class="input_td">0</td>
          <td class="text_td">0</td>
          <td class="input_td">0</td>
        </tr> 
         <tr>
          <td class="text_td">病毒事件</td>
          <td class="input_td">0</td>
          <td class="text_td">0</td>
          <td class="input_td">0</td>
        </tr> 
         <tr>
          <td class="text_td">URL过滤</td>
          <td class="input_td">0</td>
          <td class="text_td">0</td>
          <td class="input_td">0</td>
        </tr>
         <tr>
          <td class="text_td">内容过滤</td>
          <td class="input_td">0</td>
          <td class="text_td">0</td>
          <td class="input_td">0</td>
        </tr> 
         <tr>
          <td class="text_td">风险指数</td>
          <td class="input_td">0</td>
        </tr>  
        <tr>
          <td class="text_td">在线资产</td>
          <td class="input_td">0</td>
        </tr> 
        <tr>
          <td class="text_td">资产总数</td>
          <td class="input_td">0</td>
        </tr>                               
      </table>
  </nz-collapse>
</nz-collapseset>