<div>
  <form nz-form>
    <nz-collapseset [nzBordered]="false">
      <nz-collapse [nzTitle]="'PING Sweep'" [nzActive]="true" [ngStyle]="{'border-radius': '4px','border': '0px'}">
        <div nz-form-item nz-row>
          <div nz-col [nzSpan]="2">
            <nz-switch name="pingsweep_check" [(ngModel)]="pingsweep_check">
              <span checked>启用</span>
              <span unchecked>停用</span>
            </nz-switch>
          </div>
          <div nz-form-label nz-col [nzSpan]="3">
            <label nz-form-item-required>检测阈值(包数)</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="3">
            <nz-input [nzDisabled]="!pingsweep_check" name="pingsweep_limit_count" [(ngModel)]="pingsweep_limit_count" [nzPlaceHolder]="'请输入'" ></nz-input>
          </div>
          <div nz-form-label nz-col [nzSpan]="3">
            <label nz-form-item-required>检测周期(秒)</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="3">
            <nz-input [nzDisabled]="!pingsweep_check" name="pingsweep_limit_time" [(ngModel)]="pingsweep_limit_time" [nzPlaceHolder]="'请输入'" ></nz-input>
          </div>
          <div nz-form-label nz-col [nzSpan]="3">
            <label nz-form-item-required>复位时间(秒)</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="3">
            <nz-input [nzDisabled]="!pingsweep_check" name="pingsweep_prune_quanta" [(ngModel)]="pingsweep_prune_quanta" [nzPlaceHolder]="'请输入'" ></nz-input>
          </div>
        </div>
      </nz-collapse>
    </nz-collapseset>
    <div nz-row style="margin-top: 20px;">
      <div nz-col [nzSpan]="2" style="padding: 0 16px;">
        <button nz-button [nzType]="'primary'" (click)="refresh()"><span>确定</span></button>
      </div>
    </div>
  </form>
</div>